@using Merit_Tracker.Models
@model DatabaseEditor
@{
}

<ul class="merit-list">

	<div class="indicator-container">
		@if (Model.userMeritDatabaseService.IsFiltered)
		{	
			<div class="editor-indicator">
				Filtered
				<button type="button" class="filter-close-btn" title="Remove Filter" onclick="removeFilter()">✖</button>
			</div>
		}
		@if (Model.CurrentUser.Role == UserRole.Teacher)
		{
			<div class="editor-indicator">
				Teacher-Only
			</div>
		}
	</div>
	@foreach (var meritRecord in Model.MeritRecords)
	{
		<li class="merit-view" data-merit-id="@meritRecord.Id" data-student-name="@meritRecord.StudentName" data-date="@meritRecord.DateOfIssue.Date.ToString("yyyy-MM-dd")" data-value="@((int)meritRecord.Value)" data-house-points="@meritRecord.HousePoints" data-merit-year-level="@meritRecord.Yearlevel">
			<label class="merit-view-label">
				<input type="radio" name="merit-select-radio" class="merit-view-radio form-check-input" />
				<div class="merit-view-container">
					<div class="merit-main-details">
						<div class="merit-view-name">@meritRecord.StudentName</div>
						<div class="merit-view-date">@meritRecord.DateOfIssue.ToLocalTime().ToString("dd/MM/yyyy")</div>
					</div>
					<div class="merit-view-misc-details">
						<div class="value misc-detail">Value: <span>@meritRecord.Value</span></div>
						<div class="house-points misc-detail">House Points: <span>@meritRecord.HousePoints</span></div>
						<div class="issued-by misc-detail">Issued by: <span>@meritRecord.IssuerName</span></div>
					</div>
				</div>
			</label>
		</li>
	}
</ul>
